/* styles.css */

/* Styles for the Announcement Page */
.announcement-list {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement {
    background-color: AliceBlue;
    border: 1px solid black;
    padding: 10px;
    width: 1000px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.read-status {
    display: inline;
    margin-left: 10px;
}

.unread-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #00FF00;
    border-radius: 50%;
    margin-right: 5px;
}

.announcement-date, .announcement-content {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
    margin-left: 10px;
}

.announcement-content {
    line-height: 1.5;
}

.announcement-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
}
/*Styles for filter */
.announcement-filter {
    position: fixed; /* Position the div relative to the viewport */
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: lightsteelblue;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-filter form {
    display: flex;
    align-items: center;
}

.announcement-filter label, .announcement-filter select, .announcement-filter input, .announcement-filter input[type="submit"] {
    margin-right: 10px;
}

/* Styles for the Announcement Detail Page */
.announcement-detail {
    width: 80%;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.author, .date {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.content {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    line-height: 1.5;
}

/* Styles for the add announcement link */

.addLink {
    display: inline-block;
    width: 200px; /* Adjust the width as needed */
    float: left; /* Position the div to the left */
    text-align: right; /* Right-align the text inside the div */
    position: fixed; /* Position the div relative to the viewport */
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    left: 220px; /* Adjust the distance from the left as needed */
}

.addLink a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: lightsteelblue;
    color: black;
    border-radius: 40px;
    text-decoration: none;
}

.addLink a:hover {
    background-color: lightblue;
}