{% extends "main/base.html" %}
{% load static %}

{% block content %}

     {% if user.is_staff or user.can_announce or user.is_manager %}
<div class="addLink">
        <a href="{% url 'main:add_announcement' %}">Add announcement</a>
</div>
 {% endif %}

<div class="announcement-filter">
    <form method="get" action="{% url 'main:announcement' %}">

        <div>
            <label for="search"></label>
            <input type="text" name="search" id="search" placeholder="Search announcements">
        </div>

        <div class="sort-container">
            <div>
                <label for="sort_by"></label>
                <select name="sort_by" id="sort_by">
                    <option value="-date_added">Newest</option>
                    <option value="date_added">Oldest</option>
                </select>
            </div>

            <div>
                <input type="submit" value="Apply">
            </div>
        </div>

    </form>
</div>



<div class="announcement-list">
    <h5 class="announcement-heading">Announcement</h5>
{% if announcements %}
    {% for announcement in announcements %}

    <a href="{% url 'main:announcement_detail' announcement.id %}" class="announcement">

        <div class="read-status">
            {% if not announcement.read %}
                <span class="unread-circle"></span>
            {% endif %}
        <p class="announcement-title"> {{ announcement.title }} </p>
        </div>

         <p class="announcement-content">Author:
            {% if announcement.author.first_name and announcement.author.last_name %}
                {{ announcement.author.first_name}} {{ announcement.author.last_name}}
            {% else %}
                {{ announcement.author}}
            {% endif %}
        </p>

        <p class="announcement-date">Date: {{ announcement.date_added | date:"F j, Y, g:i a" }}</p>
        <p class="announcement-content">
            {% if announcement.content|length > 100 %}
                {{ announcement.content|slice:":100" }}...
            {% else %}
                {{ announcement.content }}
            {% endif %}
        </p>
        </a>

    {% endfor %}

{% else %}
    <p class = "announcement-heading">No announcements available.</p>
    <div class="image">
            <img src="{% static 'main/media/crewflow.jpg' %}"  alt="Image">
    </div>
{% endif %}
</div>

    <style>
    /* Styles for the Announcement Page */
.announcement-list {
    position: relative;
    top: 60px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.announcement {

    width: 80%;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;

}

.announcement-title {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.read-status {
    display: inline-block;
    margin-left: 10px;
}

.unread-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #00FF00;
    border-radius: 50%;
    margin-right: 5px;
}

.announcement-date, .announcement-content {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
    margin-left: 10px;
    word-wrap: break-word;
}

.announcement-content {
    line-height: 1.5;
}

.announcement-heading {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}



/*Styles for filter */
.announcement-filter {
    position: fixed; /* Position the div relative to the viewport */
    top: 30px; /* Adjust the distance from the top as needed */
    right: 40px; /* Center horizontally */
    background-color: #007BFF;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.announcement-filter form {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow the form elements to wrap onto the next line */
}

.announcement-filter select {
    height: 30px;
}


.announcement-filter label, .announcement-filter select, .announcement-filter input, .announcement-filter input[type="submit"] {
    margin-right: 10px;
}

.sort-container {
        display: flex;
    }

/* Styles for the add announcement link */

.addLink {
    display: inline-block;
    width: 200px; /* Adjust the width as needed */
    float: left; /* Position the div to the left */
    text-align: right; /* Right-align the text inside the div */
    position: fixed; /* Position the div relative to the viewport */
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the left as needed */
    z-index: 2;
}

.addLink a {
        display: inline-block;
        background-color: #007BFF;
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        text-decoration: none;
        margin-top: 10px;
}

.addLink a:hover {
    background-color: #0056b3;
}

 /* Use a media query to adjust the layout for smaller screens */
@media (max-width: 800px) {
    .announcement-list {
        top: 160px;
    }
    .announcement-filter form {
        display: flex;
        align-items: center;
        flex-direction: column; /* Stack the form elements vertically */
    }

    .announcement-filter label, .announcement-filter select, .announcement-filter input, .announcement-filter input[type="submit"] {
        margin-bottom: 10px; /* Add some vertical spacing between form elements */
        display: inline-block;
    }
    .sort-container {
        display: flex;
    }

    .image {
            display: flex;
            justify-content: center; /* Horizontal alignment */
            align-items: center; /* Vertical alignment */
        }

        .image img {
            max-width: 50%; /* Make the image responsive within its container */
            height: auto; /* Maintain the aspect ratio of the image */
        }
}
    </style>
{% endblock content %}
