{% extends "main/base.html" %}

{% block content %}
<h1>Announcement</h1>

<ul class="announcement-list">
    {% for announcement in announcements %}
        <div class="announcement {% if not announcement.read %}unread{% endif %}">
            <li>
                <a href="{% url 'main:announcement_detail' announcement.id %}">
                    {{ announcement.title }}
                </a>
                <p>Date: {{ announcement.date_added | date:"F j, Y" }}</p>
                <p>
                    {% if announcement.content|length > 100 %}
                        Preview: {{ announcement.content|slice:":100" }}...
                    {% else %}
                        Preview: {{ announcement.content }}
                    {% endif %}
                </p>
            </li>
        </div>
    {% endfor %}
</ul>

{% endblock content %}
