{% extends "main/base.html" %}

{% block content %}
<div class="announcement-filter">
    <form method="get" action="{% url 'main:announcement' %}">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="-date_added">Newest</option>
            <option value="date_added">Oldest</option>
            <!-- Add more sorting options if needed -->
        </select>

        <label for="search">Search:</label>
        <input type="text" name="search" id="search" placeholder="Search announcements">

        <input type="submit" value="Apply">
    </form>
</div>
    
<div class="addLink">
    <a href="{% url 'main:add_announcement' %}" >Add announcement</a>
</div>


<div class="announcement-list">
    <h1 class="announcement-heading">Announcement</h1>
{% if announcements %}
    {% for announcement in announcements %}
    <div class="announcement">
        <a href="{% url 'main:announcement_detail' announcement.id %}" class="announcement-title">{{ announcement.title }}</a>
        <div class="read-status">
            {% if not announcement.read %}
                <span class="unread-circle"></span>
            {% endif %}
        </div>
        <p class="announcement-date">Date: {{ announcement.date_added | date:"F j, Y" }}</p>
        <p class="announcement-content">
            {% if announcement.content|length > 100 %}
                {{ announcement.content|slice:":100" }}...
            {% else %}
                {{ announcement.content }}
            {% endif %}
        </p>
    </div>
    {% endfor %}
{% else %}
    <p>No announcements available.</p>
{% endif %}
</div>
{% endblock content %}
