{% extends "main/base.html" %}

{% block content %}
    <header class="bg-blue text-white text-center py-3 rounded-3">
        <h1>Edit Employee</h1>
    </header>

    <!--
    <form method="post" action="{% url 'main:edit_employee' employee.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
    -->

    <div class="container text-center my-3">
        <form method="post" action="{% url 'main:edit_employee' employee.id %}" class="mb-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="mb-3">
                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="{{ form.address.id_for_label }}">Home Address:</label>
                {{ form.address }}
            </div>
            <div class="mb-3">
                <label for="{{ form.phone.id_for_label }}">Phone Number:</label>
                {{ form.phone }}
            </div>
            <div class="mb-3">
                <label for="{{ form.postal_code.id_for_label }}">Postal Code:</label>
                {{ form.postal_code }}
            </div>
            <div class="mb-3">
                <label for="{{ form.can_announce.id_for_label }}">Post Announcements?</label>
                {{ form.can_announce }}
            </div>
            <div class="mb-3">
                <label for="{{ form.can_blog.id_for_label }}">Post Blogs?</label>
                {{ form.can_blog }}
            </div>
            <div class="mb-3">
                <label for="{{ form.salary.id_for_label }}">Salary:</label>
                {{ form.salary }}
            </div>
                <!-- Add more fields as needed -->

            <button type="submit" class="btn btn-warning">Save Changes</button>
        </form>
    </div>

    <div class="container text-center my-3">
        <a href="{% url 'main:view_employees' %}" class="btn bg-blue text-white" role="button">Back to Employee List</a>
    </div>

{% endblock %}

