{% extends "main/base.html" %}

{% block content %}
    <div class="report-list">
    <h3 class = "heading">Expenses</h3>
        {% if reports %}
            {% for report in reports %}
                <div class="report-item">
                    <h2>Report number: {{ report.id }}</h2>

                    <p class="report-detail">Requester:
                        {% if report.requester.first_name and report.requester.last_name %}
                            {{ report.requester.first_name}} {{ report.requester.last_name}}
                        {% else %}
                            {{ report.requester}}
                        {% endif %}
                    </p>

                    <p class="report-detail">Date: {{ report.date_submitted | date:"F j, Y, g:i a" }}</p>
                    <p class="{% if report.status == 'IN_PROCESS' %}in-process{% elif report.status == 'APPROVED' %}approved{% elif report.status == 'DECLINED' %}declined{% endif %}">Status: {{ report.get_status_display }}</p>
                    <a class="view-details-link" href="{% url 'main:report_detail' report.id %}">View Details</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No report available.</p>
        {% endif %}
    </div>

    <div class="add-report-button">
        <a href="{% url 'main:add_report'%}">Add Report</a>
    </div>

    <style>
    /* Place this CSS in your external stylesheet or within a <style> tag in the head of your HTML document */
    .heading {
    font-size: 44px;
    color: #333;
    margin-bottom: 20px;
        text-align: center;
}

    .report-list {
        display: grid;
        gap: 20px;
    }

    .report-item {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333;
        margin-bottom: 10px;
    }

    .report-detail {
        color: #555;
    }


    .in-process {
        color: #007BFF; /* Blue color for 'In Process' status */
    }

    .approved {
        color: #28a745; /* Green color for 'Approved' status */
    }

    .declined {
        color: #dc3545; /* Red color for 'Declined' status */
    }

    .add-report-button{
        display: inline-block;
        width: 200px; /* Adjust the width as needed */
        float: left; /* Position the div to the left */
        text-align: right; /* Right-align the text inside the div */
        position: fixed; /* Position the div relative to the viewport */
        bottom: 30px; /* Adjust the distance from the bottom as needed */
        right: 20px; /* Adjust the distance from the left as needed */
        z-index: 2;
    }
    .view-details-link,
    .add-report-button a {
        display: inline-block;
        background-color: #007BFF;
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        text-decoration: none;
        margin-top: 10px;
    }

    .view-details-link:hover,
    .add-report-button a:hover{
        background-color: #0056b3;
    }

    .add-report-button {
        margin-top: 20px;
    }



    </style>
{% endblock content %}
