<!-- Pages inherit from the base template by
declaring extends "base" like this: -->
{% extends "main/base.html" %}

<!-- Content unique to this page lives inside a 
block like this one. Multiple blocks can be created
in the base template for different things. This one
is a block named "content" -->
{% block content %}
    <header class="bg-blue text-white text-center py-3 rounded-3">
        <h1>Welcome to Crewflow, {{ user.first_name }}!</h1>
        <h3>What would you like to do?</h3>
    </header>
    <div class="notifications">
    <h3>Notifications</h3>
    {% if notifications %}
        <ul>
            {% for notification in notifications %}
                <li>
                    {{ notification.message }}
                     <p>{{ notification.created_at | date:"F j, Y, g:i a" }}</p>
                    <form method="post" action="{% url 'main:delete_notification' notification.id %}">
                        {% csrf_token %}
                        <button type="submit">X</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notifications</p>
    {% endif %}

    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:add_availability' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Schedule
                    </button>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:expense_reports' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Expense Reports
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:index' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Edit Personal Info (TEMP BROKEN LINK)
                    </button>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:announcement' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        View Announcements
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
