<!DOCTYPE html>
{% extends "main/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payroll</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header class="bg-blue text-white text-center py-3 rounded-3">
        <h1>Payroll Information</h1>
    </header>

    <main>
        <div class="view_payroll">
            <div class="payroll-details">
                <div class="alert alert-info" role="alert">
                    Payroll Period: November 1, 2023 - December 15, 2023
                </div>

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>First Name:</th>
                        <th>Last Name:</th>
                        <th>Email:</th>
                        <th>Position:</th>
                        <th>Salary</th>
                        <th>Deduction:</th>
                        <th>Net Pay:</th>
                        <th>Payroll Status:</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in employee_list %}
                    <script>
                    function toggleEditForm(employeeId) {
                        var form = document.getElementById('editForm' + employeeId);
                            form.style.display = form.style.display === 'none' ? 'block' : 'none';
                    }
                    </script>
                    <tr class="text-center">
                        <td>{{ item.first_name }}</td>
                        <td>{{ item.last_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.position }}</td>
                        <td>{{ item.salary }}</td>
                        <td>{{ item.deduction }}</td>
                        <td>${{ item.net_salary }}</td>
                        <td>
                            <span class="status">
                                <form method="post" action="{% url 'main:approve_payroll' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="employee_name" value="{{ item.username }}">
{#                                 <button type="submit" class="complete-button">Approve Payroll</button>#}
                                    {% if item.payroll_status == 'APPROVED' %}
                                        <button type="submit" class="btn btn-success" disabled>Approved</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary">Pending Approval</button>
                                    {% endif %}
                                </form>
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-warning" onclick="toggleEditForm('{{ item.id }}')">Edit</button>
                                <form method="post" action="{% url 'main:edit_employee_salary' item.id %}" id="editForm{{ item.id }}" style="display: none;">
                                    {% csrf_token %}
                                    <div class=form-row"></div>
                                    <div class="form-group col">
                                        <label for="new_salary{{ item.id }}">New Salary:</label>
                                        <input type="text" name="new_salary" id="new_salary{{ item.id }}">
                                    </div>
                                    <div class="form-group col">
                                        <label for="new_deduction{{ item.id }}">New Deduction:</label>
                                        <input type="text" name="new_deduction" id="new_deduction{{ item.id }}">
                                    </div>
                                    </div>
                                        <button type="btn" class="btn btn-primary">Save</button>
                                </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            var formSubmitted = false;

            $('#approvePayrollForm').submit(function (e) {
                // Check if the form has already been submitted
                if (formSubmitted) {
                    e.preventDefault(); // Prevent the form from submitting again
                } else {
                    // Change the button text to "Completed"
                    $('.complete-button').text('Completed');

                    // Disable the button to prevent multiple submissions
                    $('.complete-button').prop('disabled', true);

                    formSubmitted = true; // Set the flag to true after the first submission
                }
            });
        });
    </script>
</body>
</html>
{% endblock content %}

