<!DOCTYPE html>
{% extends "main/base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
    <header class="bg-blue text-white text-center py-3 rounded-3">
        <h1>User Profile</h1>
    </header>
    <div class="container mt-5">
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone Number: {{ user.phone }}</p>
        <p>Position: {{ user.role }}</p>
        <p>Date of Employment: {{ user.date_of_employment }}</p>
        <p>Postal Code: {{ user.postal_code }}</p>
    </div>
<body>

</body>
</html>
{% endblock content %}
