<!DOCTYPE html>
{% extends "main/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>
<div class="container text-center">
        <div class="row">
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:add_availability' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Your Availability
                    </button>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:schedule_landing' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Your Schedule
                    </button>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:schedule_landing' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        View All Schedules
                    </button>
                </a>
            </div>
            {% if request.user.role == "EMPLOYEE" %}
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:request_time_off' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Request Time Off
                    </button>
                </a>
            </div>
            {% endif %}

            {% if request.user.role != "EMPLOYEE" %}
            <div class="col-md-6 mb-3">
                <a href="{% url 'main:check_time_off_requests' %}">
                    <button type="button" class="btn bg-blue text-white btn-block">
                        Check Requests
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

</body>
</html>

{% endblock content %}