<!DOCTYPE html>
{% extends "main/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Time Off Request</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
    .form-group label {
        display: block;
        margin-bottom: .5rem;
    }
    .form-group textarea {
        width: 100%;
        height: 150px;
    }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Employee Time Off Request</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.start_date.label_tag }}
                {{ form.start_date }}
            </div>
            <div class="form-group">
                {{ form.end_date.label_tag }}
                {{ form.end_date }}
            </div>
            <div class="form-group">
                {{ form.reason.label_tag }}
                {{ form.reason }}
            </div>
            <div class="form-group">
                {{ form.details.label_tag }}
                {{ form.details }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="mt-5">
            <h3 class="mb-4 text-center"> View status of Your Requests</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <td>{{ request.start_date }}</td>
                            <td>{{ request.end_date }}</td>
                            <td>{{ request.reason }}</td>
                            <td>{{ request.get_status_display }}</td>
                            <td><a href="{% url 'main:delete_request' request.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                            <td><a href="{% url 'main:cancel_request' request.id %}" class="btn btn-danger btn-sm">Cancel</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No requests have been made.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
{% endblock content %}
