{% extends "main/base.html" %}
{% block content %}
    <script>
    function clearSearch() {
        document.getElementById('search').value = '';
        document.forms[0].submit();
    }
    </script>
<body>
    <header class="bg-blue text-white text-center py-3">
        <h1>View Employee(s)</h1>
    </header>

    <div class="container text-center my-3">
        <a href="{% url 'main:add_employee' %}" class="btn bg-blue text-white">
            Add a New Employee
        </a>
    </div>

    <main class="container my-3">
        <div class="view_employees">
            <form method="get" action="{% url 'main:view_employees' %}" class="mb-3">
                <div class="input-group">
                    <label for="search" class="visually-hidden">Search:</label>
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                    <button type="submit" class="btn bg-blue text-white">Submit</button>
                    <button type="button" onclick="clearSearch()" class="btn btn-secondary">Clear</button>
                </div>
            </form>

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Phone #</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>D.O.E.</th>
                        <th>Postal Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in employee_list %}
                        <tr>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.position }}</td>
                            <td>{{ item.date_of_employment }}</td>
                            <td>{{ item.postal_code }}</td>
                            <td><a href="{% url 'main:edit_employee' item.id %}" class="btn btn-edit text-black">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
{% endblock content %}
</html>
